.name{
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("volvo\ 4.jpg")
    
}
.continer{
    text-align: center;
    border:3px solid #865df8;
    border-left-color :#865df8;
    border-bottom-color: #ffa3fd;
    border-top-color:#125df8 ;
   
    margin:150px;
    padding: 20px 20px 20px 20px ;
    border-radius: 20px;
}
.continer h3 {
    font-family: system-ui;
    font-size: 2rem;
    color: #ffa3fd;
    text-transform: uppercase;
    z-index: 2;
    text-align: center;

}
.show{
    text-align: center;
    text-shadow: 1px 1px 4px ;
    color: rgba(10, 152, 69, 0.886);
}
input:hover{
    font-size:20px ;
}
button:hover{
    font-size:15px;
}